.footer {
    background: #182848;
    color: white;
    text-align: center;
    padding: 20px;
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
  }
  
  .footer p {
    margin: 0;
    font-size: 1em;
  }